<!DOCTYPE html>
<html>
  <head>
    <title>TwitterAPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="https://akns-images.eonline.com/eol_images/Entire_Site/201377/rs_600x600-130807142437-600.twitter2.cm.8713.jpg?fit=inside|900:auto&output-quality=90" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
